services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
    command: bun run dev --hostname 0.0.0.0
